# vscode ignore files
.vscode/**
.history/

# Platformio ignore files
.pio

# Local History for Visual Studio Code
.history/

# General
.DS_Store
.AppleDouble
.LSOverride

# Project ignore files
config.h
